.header
{
    margin:0px auto;
    width:100%;
    height:50px;
    background-color:grey;
    float:left;
    padding:10px;
    border:2px solid red;
}

.menuNav
{
    margin:0px auto;
    width:100%;
    height:50px;
    background-color:green;
    float:left;
    padding:10px;
    border:2px solid red;
}

main
{
    margin:0px auto;
    width:100%;
    height:50px;
    background-color:blue;
    float:left;
    padding:10px;
    border:2px solid red;
}

#div1
{
    margin-top: 30px;
    background-color:rgb(128, 0, 0);
}

#

#div2
{
    background-color:goldenrod;
}

#div3
{
    background-color: blueviolet;
}